## 4.1 `if` statement

In [8]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')
print(x)

Single
1

## 4.2 `for` statement

Python’s `for` statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [9]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

Code that modifies a collection while iterating over that same collection can be tricky to get right. Instead, it is usually more straight-forward to loop over a copy of the collection or to create a new collection:

In [12]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

print(users)

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

print(active_users)

{'Hans': 'active', '景太郎': 'active'}
{'Hans': 'active', '景太郎': 'active'}

In [ ]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.items():
    if status == 'inactive':
        del users[user]

print(users)

RuntimeError: dictionary changed size during iteration

## 4.3 `range()` function

If you do need to iterate over a sequence of numbers, the built-in function `range()` comes in handy. It generates arithmetic progressions:

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
print(list(range(5, 10)))

print(list(range(0, 10, 3)))

print(list(range(-10, -100, -30)))

[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

In [17]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [4]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in enumerate(a):
    print(i)

(0, 'Mary')
(1, 'had')
(2, 'a')
(3, 'little')
(4, 'lamb')

In [ ]:
range(10)
# it does not return a list object, but a range object

range(0, 10)

In [ ]:
sum(range(10)) # = 0 + 1 + 2 + ... + 9 = 45

45

## 4.4 Break and continue

In [20]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [29]:
list(range(2, 2))
list(range(3, 2))

# if range(a, b) with a >= b returns an empty range

[]

In [30]:
for num in range(2, 10):
    if num % 2 == 0:
        print(f"Found an even number {num}")
        continue
    print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [5]:
for n in range(2, 10):
    if n % 2 ==0:
        print(f"{n} is even")
    else:
        print(f"{n} is odd")

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

## 4.5 `else` in a loop

In [4]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [10]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x ==0:
            break
    else:
        print(f"{n} is a prime")

2 is a prime
3 is a prime
5 is a prime
7 is a prime

## 4.6 `pass` statement, can be replaced by ...

In [16]:
def test():
    ...

In [20]:
class TestClass:
    ...

## 4.7 `match` statements

In [40]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

p = Point(0,5)
where_is(p)

Y=5

In [39]:
# point is an (x, y) tuple
def where_is(point):
    match point:
        case (0, 0):
            print("Origin")
        case (0, y):
            print(f"Y={y}")
        case (x, 0):
            print(f"X={x}")
        case (x, y):
            print(f"X={x}, Y={y}")
        case _:
            raise ValueError("Not a point")

where_is((3,4))

X=3, Y=4

In [52]:
class Point:
    __match_args__ = ('x', 'y')
    def __init__(self, x, y):
        self.x = x
        self.y = y

points = [Point(1,2)]
match points:
    case []:
        print("No points")
    case [Point(0, 0)]:
        print("The origin")
    case [Point(x, y)]:
        print(f"Single point {x}, {y}")
    case [Point(0, y1), Point(0, y2)]:
        print(f"Two on the Y axis at {y1}, {y2}")
    case _:
        print("Something else")

Single point 1, 2

## 4.8 Functions

In [54]:
def fib(n):    # write Fibonacci series less than n
    """Print a Fibonacci series less than n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [55]:
def fib(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

print(fib(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## 4.9 more about functions

### 4.9.1 default argument values

In [3]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        reply = input(prompt)
        if reply in {'y', 'ye', 'yes'}:
            return True
        if reply in {'n', 'no', 'nop', 'nope'}:
            return False
        retries -= 1
        if retries <=0:
            raise ValueError('Invalid user response')
        print(reminder)

ask_ok("Do you really want to do that?")

True

In [4]:
i = 5

def f(arg=i):
    print(arg)

i = 6

f()

5

In [6]:
def f(a, L = []):
    L.append(a)
    return L

print(f(1))
print(f(2))

[1]
[1, 2]

In [9]:
def f(a, L = None):
    if L is None:
        L = []
    L.append(a)
    return L

print(f(1))
print(f(2))

[1]
[2]

In [10]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [12]:
def connect(host, port=22):
    return f"{host}:{port}"

connect("router1", 822)

'router1:822'

In [17]:
def test(a, b=1):
    print(a+b)

test(2)
test(a=3)
test(a=4,b=5)
test(2,5)

3
4
9
7

In [21]:
def test2(a, /, b=1):
    print(a+b)

test2(a=2)

TypeError: test2() got some positional-only arguments passed as keyword arguments: 'a'

In [22]:
test2(2,5)

7

In [25]:
def test3(a, /, *, b=1):
    print(a+b)

test3(2,5)

TypeError: test3() takes 1 positional argument but 2 were given

In [26]:
test3(2, b=5)

7

In [27]:
def foo(name, /, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

True

In [30]:
def test():
    return 'name' in {'name': 2}

print(test())

True

In [32]:
def f(**kwargs):
    return kwargs

f(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
def ff(*args, **kwargs):
    return

In [36]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        reply = input(prompt)
        if reply in {'y', 'ye', 'yes'}:
            return True
        if reply in {'n', 'no', 'nop', 'nope'}:
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

Come on, only yes or no!
Come on, only yes or no!

ValueError: invalid user response

In [42]:
def f(a, /, **kwds):
    return 'a' in kwds

f(1, a=2)

True

In [43]:
'a' in {'a': 2}

True

In [45]:
(lambda a, b: a + b) (1,2)

3

In [46]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
(lambda x: x**2)(range(10))

TypeError: unsupported operand type(s) for ** or pow(): 'range' and 'int'

In [51]:
def test(n):
    return lambda x: x+n

f = test(42)
f(1)

43

In [52]:
(lambda x, y: x + y)(1,2)

3

In [59]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
for pair in pairs:
    print((lambda x: x[1])(pair))

one
two
three
four

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

TypeError: sort() takes no positional arguments

In [65]:
def add(a: int, b: int = 2) -> int:
    return a + b

print(add.__annotations__)

{'a': <class 'int'>, 'b': <class 'int'>, 'return': <class 'int'>}

In [66]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('human meat')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: human meat eggs

'human meat and eggs'