## 4.1 `if` statement

In [8]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')
print(x)

Single
1

## 4.2 `for` statement

Python’s `for` statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [9]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

Code that modifies a collection while iterating over that same collection can be tricky to get right. Instead, it is usually more straight-forward to loop over a copy of the collection or to create a new collection:

In [12]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

print(users)

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

print(active_users)

{'Hans': 'active', '景太郎': 'active'}
{'Hans': 'active', '景太郎': 'active'}

In [ ]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.items():
    if status == 'inactive':
        del users[user]

print(users)

RuntimeError: dictionary changed size during iteration

## 4.3 `range()` function

If you do need to iterate over a sequence of numbers, the built-in function `range()` comes in handy. It generates arithmetic progressions:

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
print(list(range(5, 10)))

print(list(range(0, 10, 3)))

print(list(range(-10, -100, -30)))

[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

In [17]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [4]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in enumerate(a):
    print(i)

(0, 'Mary')
(1, 'had')
(2, 'a')
(3, 'little')
(4, 'lamb')

In [ ]:
range(10)
# it does not return a list object, but a range object

range(0, 10)

In [ ]:
sum(range(10)) # = 0 + 1 + 2 + ... + 9 = 45

45

## 4.4 Break and continue

In [20]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [29]:
list(range(2, 2))
list(range(3, 2))

# if range(a, b) with a >= b returns an empty range

[]

In [30]:
for num in range(2, 10):
    if num % 2 == 0:
        print(f"Found an even number {num}")
        continue
    print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [5]:
for n in range(2, 10):
    if n % 2 ==0:
        print(f"{n} is even")
    else:
        print(f"{n} is odd")

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

## 4.5 `else` in a loop

In [4]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [10]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x ==0:
            break
    else:
        print(f"{n} is a prime")

2 is a prime
3 is a prime
5 is a prime
7 is a prime

## 4.6 `pass` statement, can be replaced by ...

In [16]:
def test():
    ...

In [20]:
class TestClass:
    ...

## 4.7 `match` statements

In [40]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

p = Point(0,5)
where_is(p)

Y=5

In [39]:
# point is an (x, y) tuple
def where_is(point):
    match point:
        case (0, 0):
            print("Origin")
        case (0, y):
            print(f"Y={y}")
        case (x, 0):
            print(f"X={x}")
        case (x, y):
            print(f"X={x}, Y={y}")
        case _:
            raise ValueError("Not a point")

where_is((3,4))

X=3, Y=4

In [52]:
class Point:
    __match_args__ = ('x', 'y')
    def __init__(self, x, y):
        self.x = x
        self.y = y

points = [Point(1,2)]
match points:
    case []:
        print("No points")
    case [Point(0, 0)]:
        print("The origin")
    case [Point(x, y)]:
        print(f"Single point {x}, {y}")
    case [Point(0, y1), Point(0, y2)]:
        print(f"Two on the Y axis at {y1}, {y2}")
    case _:
        print("Something else")

Single point 1, 2

## 4.8 Functions

In [54]:
def fib(n):    # write Fibonacci series less than n
    """Print a Fibonacci series less than n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [55]:
def fib(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

print(fib(100))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## 4.9 more about functions

### 4.9.1 default argument values